input:valid {
  color: green;
}

input:invalid {
  color: red;
}

.form-signup {
  margin: auto;
  padding-bottom: 30px;
  padding: 30px;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  border-radius: 10px;
}
